.symbol {
  font-size: 50px;
}

.symbol_correct {
  color: green;
}

.word_incorrect {
  background: red;
  color: #fff;
}

.start__button {
  margin-top: 50px;
}

.exit__button {
  display: none;

  margin-top: 50px;
}